<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ShopStop</title>
        <link rel="stylesheet" type="text/css" href="/content/styles/site.css">
        <link rel="shortcut icon" type="image/ico" href="/content/images/favicon.ico"/>
    </head>
    <body>
        <header>
            <nav class="nav">
                <ul>
                    <li><a href="/">Home Page</a></li>
                    <li><a href="/product/add">Add Product</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1 class="head-title">Welcome to ShopStop!</h1>
            <form method="post">
                <input 
                    id="query" 
                    name="query" 
                    class="input-field" 
                    type="text" 
                    placeholder="Search">
                <button type="submit">Search</button>
            </form>
            <div class="cards">
                {content}
            </div>
        </main>
        <footer>
            <p>&amp;copy; ShopStop</p>
        </footer>
    </body>
</html>

